= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  -# New Post Category Dropdown
  -# =============================================
  .post-new-form
    .col-md-8.col-md-offset-2
      .btn-group
        %button.btn.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span#selected Choose Topic &nbsp;
          %span.i.fa.fa-chevron-down{"aria-hidden" => "true"}
        %ul.dropdown-menu.category-dropdown-menu
          - @categories.each do |category|
            %li{data: {id: category.id}}
              = content_tag(:a, category.name)
        = f.select :category_id, options_from_collection_for_select(@categories, :id, :name)
      .form-group.post-new-form-title
        = f.label :title
        = f.text_area :title, class: "form-control", rows: "1"
      .form-group.post-new-form-text
        = f.text_area :body, class: "form-control", rows: "5"
      -# .form-group
      -#   %button#edit.btn.btn-info{:onclick => "edit()", :type => "button"} Edit
      .form-group
        .post-save-button.pull-right
          = f.submit class: 'btn btn-info', value: "Post"
