-# Posts
-# =============================================
.post-show-row
  .col-md-8.col-md-offset-2
    .show-post-box.post-link-hover
      %p.post-link-hover
        = @post.user.name
      %p.post-link-hover
        = distance_of_time_in_words_to_now(@post.created_at)
      %h1.post-link-hover
        = @post.title
      %p
        = @post.body
      %p.comment_count_heart
        = link_to like_topic_post_path([@topic, @post]) do
          %span.i.fa.fa-heart{"aria-hidden" => "true"} &nbsp;
          %span
            = @post.likes.count
            &nbsp;
        %span.i.fa.fa-commenting-o{"aria-hidden" => "true"} &nbsp;
        %span Count
      .user-editing-tools-box
        = link_to topic_posts_path do
          %button.btn.btn-large.btn-warning
            Back
        -if users_post?
          = link_to edit_topic_post_path([@topic, @post]) do
            %button.btn.btn-large.btn-success
              Edit
          = link_to ([@topic, @post]), :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %button.btn.btn-large.btn-danger
              Delete
  .comments-box
    .col-md-8.col-md-offset-2
      %h3 Leave a comment
      = form_for [@topic, @post, @post.comments.new] do |f|
        = f.text_area :comment_body, class: "form-control", rows: "2"
        = f.submit class: 'btn btn-success pull-right', value: "Create Comment"
      .comment-list-box
        - @post.comments.each do |comment|
          .comment-each
            %p
              = comment.user_id
              = distance_of_time_in_words_to_now(comment.created_at) unless comment.created_at.blank?
            %p
              = comment.comment_body
              - if users_comment?
                = link_to ([@topic, @post, @comment, comment]), :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  %button.btn.btn-large.btn-danger
                    Delete 
